<% include ../partials/header.ejs %>
<% include ../partials/navBar.ejs %>
  <div class="container">
        <h2><b> Full Name: </b> <%= user.fullName %> </h2>
        <h3><b> User Name: </b> <%= user.userName %> </h3>
        <p><b> Aboute User: </b> <%= user.aboute %> </p>
  </div>
<% include ../partials/footer.ejs %>