<% include ../partials/header.ejs %>
<% include ../partials/navBar.ejs %>
  <div class="container">
    <h2><%= user.fullName %></h2>
    <p><%= user.aboute %></p>
  </div>
<% include ../partials/footer.ejs %>